{% load static %}
<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />

  <!-- Site Properties -->
  <title>中欧营销服务平台</title>
   <link rel="stylesheet" href="{% static 'css/semantic.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/semantic.js' %}"></script>
    <script src="{% static 'js/exporting.js' %}"></script>
    <script src="{% static 'js/highcharts.js' %}"></script>
    <script src="{% static 'js/highcharts-more.js' %}"></script>
    <script src="{% static 'js/funnel.js' %}"></script>
    <script src="{% static 'js/jquery.tablesort.js' %}"></script>



  <style type="text/css">
    body {
      background-color: #0099FF;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>
  <script>
  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier  : 'username',
              rules: [
                {
                  type   : 'empty',
                  prompt : '请输入用户名'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : '请输入密码'
                },
                {
                  type   : 'length[5]',
                  prompt : '你的密码至少需要6位字符'
                }
              ]
            }
          }
        })
      ;
    })
  ;
  </script>
</head>
<body>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui white image header">
      <img src="{% static 'images/logo_clear.png' %}" class="image">
      <div class="content">
        <font color="white">中欧营销服务平台</font>
      </div>
    </h2>
    <form class="ui large form"  method="post" action="">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="域用户名">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="域密码">
          </div>
        </div>
        <div>
            <input type="submit" name="submit" value="登录" class="ui blue large yellow submit button"/>
        </div>
        <div>
            <input type="hidden" name="next" value="{{ next|escape }}" />
        </div>
      </div>

      <div class="ui error message"></div>

    </form>

  </div>
</div>

</body>

</html>
